APP_ENV=production

DATABASE_URL=postgresql+psycopg://ai_recruiting:CHANGE_ME@db:5432/ai_recruiting

ICLOUD_USERNAME=
ICLOUD_PASSWORD=

OUTLOOK_USERNAME=
OUTLOOK_PASSWORD=

APPLICATION_ID=
CLIENT_SECRET=